this makes the admin-menu module play nice with runvsc themes*/
/*+clearfix {*/
.startvsc ul#navlist:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    font-size: 0;
}
.startvsc ul#navlist {
    display: inline-block;
}
.startvsc ul#navlist {
/*\*/
    display: block;
/**/
    -height: 1px;
}
/*+}*/
html body.admin-menu {
    margin-top: 0 !important;
    overflow: visible;
}
html body.admin-menu #page-inner {
    padding-top: 20px;
}
div#admin-menu,
div#admin-menu div,
#admin-menu ul a {
    overflow: visible;
    font-family: Helvetica, Arial;
    font-size: 10px;
    padding: 2px 4px;
}
/*this makes the admin module play nice with runvsc themes*/
div#admin-toolbar {
    overflow: visible;
    width: 1px;
}
/*Now back to our scheduled programming*/
body.startvsc {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}
.startvsc div {
    overflow: hidden;
}
.startvsc .full-width {
    display: block;
    position: relative;
    width: 100%;
}
.startvsc ul.inline {
    display: block;
    margin: 8px 0px 11px;
    padding: 0px;
    position: relative;
    text-align: right;
}
.startvsc ul.inline li {
    position: relative;
    display: inline;
    margin: 0px 5px 0px 0px;
    padding: 0px;
}
/*To align the primary or secondary links, just set the text align to the appropriate setting :)*/
/*[clearfix]*/.startvsc ul#navlist {
    position: static;
    text-align: center;
    padding: 0px;
    margin: 0px;
}
.startvsc ul#navlist li {
    display: inline;
    font-size: 100%;
    float: none;
    padding: 5px;
    margin: 0px -2px 0px 0px;
}
.startvsc ul#navlist a {
    display: inline;
    float: none;
}