BODY
{
	font-family: CartoGothicStdBook;
	font-size: 8pt;
}
H1.title
{
	font-size: 30px;
	letter-spacing: -3px;
	color: #006699;
	font-weight: bold;
	overflow: visible;
	line-height: normal;
}
.startvsc DIV
{
	overflow: hidden;
}